

.project_blog{
    display: grid;
    /*border: 1px solid black;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa!important;
}
/*CSS & MEDIA HEADER START*/

.header_background {
    background-color: #f8f9fa!important;
}

.blog_img_logo {
    /*border: 1px solid black;*/
    width: 18%;
    margin-left: auto;
    margin-right: auto;


}

.blog_img_logo img {
    /*grid-area: header;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}



.blog_manu {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-gap: 2%;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 4%;
    margin-left: 5%
}

.blog_manu > * {
    margin-top: 20%;
    font-size: 20px;
}

@media (max-width: 640px) {

    .blog_manu {
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        grid-gap: 2%;
        grid-auto-rows: minmax(100px, auto);
        margin-top: 4%;
    }

    .blog_manu > * {
        margin-top: 20%;
        font-size: 20px;
    }
}

/*CSS & MEDIA HEADER END*/

.blog_product{
    display: grid;
    grid-template-columns: minmax(512px, 250px);
}

.blog_background {
    /*background-color: #51bdff;*/

}

.footer_background {
    background-color: #f8f9fa!important;
}


.background_home_section {
    display: grid;
    /*border: 1px solid black;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa!important;
}

.home_page_css {
    display: grid;
    margin-left: 31%;
    margin-top: 10%;
}
